h1{
    color:red;
    text-align: center;
}
ul{
    li {color: orange;}
    li::marker {color: blue;}
    list-style-type: upper-roman;

}
ol li{
    color: black;
}
p{
    color : blue;
}